## General

yes-receive-emails = Hãy gửi email cho tôi. Tôi muốn được biết các thông tin mới nhất về Dự án Common Voice
stayintouch = Mozilla chúng tôi đang xây dựng một cộng đồng xoay quanh công nghệ giọng nói. Chúng tôi muốn giữ liên hệ với các cập nhật, các nguồn dữ liệu mới và biết thêm về cách bạn sử dụng dữ liệu này.
privacy-info = Chúng tôi cam kết sẽ xử lý thông tin của bạn một cách cẩn thận. Tìm hiểu thêm ở <privacyLink>Thông Báo Bảo Mật</privacyLink> của chúng tôi.
return-to-cv = Trở về Common Voice
email-input =
    .label = Email
submit-form-action = Gửi
loading = Đang tải...
email-opt-in-info = Tôi muốn nhận email như lời nhắc mục tiêu, cập nhật tiến độ và bản tin của tôi về Common Voice.
email-opt-in-info-title = Tham gia danh sách gửi thư Common Voice
email-opt-in-info-sub-with-challenge = Nhận email như lời nhắc cho thử thách và mục tiêu, cập nhật tiến độ và bản tin về Common Voice.
email-opt-in-privacy-v2 = Bằng cách chọn nhận email, bạn tuyên bố rằng bạn đồng ý với việc Mozilla xử lý thông tin này như được giải thích trong <privacyLink>chính sách bảo mật</privacyLink> của Mozilla.
indicates-required = * Trường được yêu cầu
not-available-abbreviation = N/A

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

ab = Abkhaz
ace = Aceh
ady = Adyghe
af = Nam Phi
am = Amhara
an = Aragon
ar = Ả Rập
arn = Mapuche
as = Assam
ast = Asturias
az = Azerbaijan
ba = Bashkir
bas = Basaa
be = Belarut
bg = Bulgaria
bm = Bambara
bn = Bengal
br = Breton
bxr = Buryat
ca = Catalunya
cak = Kaqchikel
ckb = Tiếng Soran
cnh = Hakha Chin
co = Corsican
cs = Séc
cv = Chuvash
cy = Wales
da = Đan Mạch
de = Đức
dsb = Hạ Sorb
dv = Dhivehi
el = Hy Lạp
en = Anh
eo = Quốc tế ngữ
es = Tây Ban Nha
et = Estonia
eu = Basque
fa = Ba Tư
ff = Fula
fi = Phần Lan
fo = Faroe
fr = Pháp
fy-NL = Frisia
ga-IE = Ireland
gl = Galicia
gn = Guarani
ha = Hausa
he = Do Thái
hi = Hindi
hr = Croatia
hsb = Thượng Sorb
ht = Haiti
hu = Hungary
hy-AM = Armenia
hyw = Armenia Tây
ia = Interlingua
id = Indo
is = Iceland
it = Ý
izh = Izhorian
ja = Nhật
ka = Gruzia
kaa = Karakalpak
kab = Kabyle
kbd = Kabardian
kk = Kazakh
kmr = Tiếng Kurmanji
ko = Hàn
kpv = Komi-Zyria
kw = Cornwall
ky = Kyrgyz
lg = Luganda
lij = Ligurian
lt = Litva
lv = Latvia
mai = Maithili
mdf = Moksha
mg = Malagasy
mhr = Mari Đông
mk = Macedonia
ml = Malayalam
mn = Mông Cổ
mos = Mossi
mr = Marathi
mrj = Mari Tây
ms = Mã Lai
mt = Malta
my = Miến Điện
myv = Erzya
nb-NO = Na Uy Bokmål
ne-NP = Nepal
nia = Nias
nl = Hà Lan
nn-NO = Na Uy Nynorsk
oc = Occitan
or = Odia
pa-IN = Punjabi
pap-AW = Papiamento (Aruba)
pl = Ba Lan
ps = Pashto
pt = Bồ Đào Nha
rm-sursilv = Romansh Sursilva
rm-vallader = Romansh
ro = Rumani
ru = Nga
rw = Kinyarwanda
sah = Sakha
sc = Sardinia
scn = Sicilian
shi = Shilha
si = Sinhala
sk = Slovakia
sl = Slovenia
so = Somali
sq = Albania
sr = Serbia
sv-SE = Thụy Điển
sw = Swahili
syr = Syriac
ta = Tamil
te = Telugu
tg = Tajik
th = Thái
tl = Tagalog
tr = Thổ Nhĩ Kỳ
tt = Tatar
tw = Twi
uby = Ubykh
udm = Udmurt
ug = Uyghur
uk = Ukraina
ur = Urdu
uz = Uzbek
vec = Venetian
vi = Việt
vot = Votic
yo = Yoruba
yue = Quảng Đông
zh-CN = Trung (Trung Quốc)
zh-HK = Trung (Hồng Kông)
zh-TW = Trung (Đài Loan)

# [/]


## Layout

speak = Nói
speak-now = Nói ngay
datasets = Tập dữ liệu
languages = Ngôn ngữ
about = Giới thiệu về dự án
profile = Hồ sơ
help = Trợ giúp
contact = Liên hệ
privacy = Riêng tư
terms = Điều khoản
cookies = Cookie
faq = Câu hỏi thường gặp
content-license-text = Nội dung có sẵn ở <licenseLink>Giấy phép Creative Commons</licenseLink>
share-title = Giúp chúng tôi tìm những người khác để cung cấp giọng nói!
share-text = Hãy giúp dạy cho các phần mềm cách nói chuyện của con người, đóng góp giọng nói của bạn tại { $link }
link-copied = Đã sao chép liên kết
back-top = Trở về đầu trang
logout = Đăng xuất

## Home Page

home-title = Common Voice là ý tưởng của Mozilla nhằm để dạy cho các phần mềm cách nói chuyện của con người.
default-tagline = Voice Collector là một sáng kiến giúp đào tạo cho máy móc cách người thật nói.
home-cta = Hãy lên tiếng, đóng góp giọng nói ở đây!
wall-of-text-start = Giọng nói là tự nhiên, giọng nói là con người. Nhưng để tạo ra hệ thống này thì cần có một lượng lớn dữ liệu các giọng nói.
wall-of-text-more-mobile = Phần lớn các dữ liệu được sử dụng bởi các công ty lớn thì không có sẵn cho đa số mọi người.
wall-of-text-more-desktop = Đọc to một câu để giúp phần mềm học cách con người nói chuyện. Kiểm tra bài làm của những người đóng góp khác để cải thiện chất lượng. Rất là đơn giản!
wall-of-text-first = Giọng nói là tự nhiên, giọng nói là con người. Nhưng để tạo ra hệ thống này thì các nhà phát triển cần một lượng dữ liệu giọng nói rất lớn.
wall-of-text-second = Phần lớn các dữ liệu được sử dụng bởi các công ty lớn thì không có sẵn cho đa số mọi người.
show-wall-of-text = Xem thêm
help-us-title = Giúp chúng tôi xác thực các câu!
help-us-explain = Nhấn Chơi, nghe và cho chúng tôi biết: họ có nói chính xác câu bên dưới không?
no-clips-to-validate = Có vẻ như không có clip nào để nghe của ngôn ngữ này. Giúp chúng tôi điền nó vào danh sách bằng cách ghi âm lại một số câu ngay bây giờ.
vote-yes = Có
vote-no = Không
toggle-play-tooltip = Nhấn { shortcut-play-toggle } để chuyển chế độ phát
speak-subtitle = Đóng góp giọng nói của bạn
speak-paragraph = Ghi âm giọng nói là một phần không thể thiếu trong việc xây dựng nguồn dữ liệu mở của chúng tôi; một số người nói đây cũng là phần thú vị.
speak-goal-text = Clip đã ghi lại
listen-subtitle = Giúp chúng tôi xác thực giọng nói
listen-paragraph = Việc xác thực các clip được đóng góp cũng quan trọng không kém đối với nhiệm vụ Common Voice. Hãy lắng nghe và giúp chúng tôi tạo dữ liệu giọng nói nguồn mở thật chất lượng.
listen-goal-text = Clip đã xác thực
hours-recorded = Số giờ đã ghi lại
hours-validated = Số giờ đã xác thực
voices-online = Tiếng nói trực tuyến bây giờ
todays-progress = Tiến độ của ngày hôm nay
help-reach-goal = Giúp chúng tôi đạt được { $goal }
read-terms-q = Bạn đã đọc Điều khoản của chúng tôi chưa?
ready-to-record = Sẵn sàng đóng góp giọng nói của bạn?
all-locales = Tất cả
today = Hôm nay
x-weeks-short =
    { $count ->
       *[other] { $count }tuần
    }
x-months-short =
    { $count ->
       *[other] { $count }tháng
    }
x-years-short =
    { $count ->
       *[other] { $count }năm
    }
help-make-dataset = Hãy giúp chúng tôi xây dựng một bộ dữ liệu công khai, chất lượng cao
sign-up-account = Đăng kí một tài khoản
email-subscription-title = đăng ký nhận email cập nhật
email-subscription-title-new = Đăng ký nhận bản tin Common Voice, nhắc nhở mục tiêu và cập nhật tiến độ

## Account Benefits

benefits = Lợi ích
rich-data = Làm cho dữ liệu được gửi của bạn phong phú nhất có thể bằng cách cung cấp một số dữ liệu nhân khẩu học ẩn danh. Chúng tôi hủy nhận dạng tất cả dữ liệu nhân khẩu học trước khi công khai.
improve-audio = Thông tin hồ sơ cải thiện dữ liệu âm thanh được sử dụng trong đào tạo độ chính xác nhận dạng giọng nói.
keep-track = Theo dõi tiến trình và số liệu của bạn trên nhiều ngôn ngữ.
compare-progress = Xem mức độ của bạn so với những người đóng góp khác trên toàn thế giới.
view-goals = So sánh tiến độ của bạn với các mục tiêu cá nhân và dự án.
join-newsletter = Tùy chọn tham gia vào danh sách email của chúng tôi để cập nhật và thông tin mới về dự án.

## What's public

whats-public = Có gì được công khai?
email-not-public = Chúng tôi sẽ không công khai email của bạn.
recordings-and-locale-public = Số lượng bản ghi và ngôn ngữ bạn đóng góp sẽ được công khai.
username-optin-public = Bạn có thể chọn đặt tên người dùng của mình ở chế độ công khai hoặc ẩn danh.
demographic-deidentified-clarity-2 = Dữ liệu nhân khẩu học được gửi tùy chọn (ví dụ: tuổi, giới tính, ngôn ngữ và giọng nói) sẽ không bao giờ được công khai trên hồ sơ của bạn và sẽ không được liên kết với tài khoản của bạn trong bộ dữ liệu. Các clip âm thanh riêng lẻ sẽ được liên kết với dữ liệu nhân khẩu học nhằm mục đích phân tích chính xác hơn - ví dụ: nhà nghiên cứu có thể muốn nhắm mục tiêu mô hình đào tạo đến một phân khúc nhân khẩu học cụ thể.
username-email-not-demographic = Tên người dùng và email của bạn sẽ không được liên kết với dữ liệu được công bố.

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = s

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = p
shortcut-play-toggle-label = Phát/Dừng
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = y
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = n

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = r
shortcut-record-toggle-label = Ghi/Dừng
shortcut-rerecord-toggle = [1-5]
shortcut-rerecord-toggle-label = Clip ghi lại
shortcut-submit = Quay lại
shortcut-submit-label = Gửi clip
request-language-text = Chưa thấy ngôn ngữ của mình trên Common Voice?
request-language-text-learn = Tìm hiểu cách yêu cầu nó ở đây!
request-language-button = Yêu cầu ngôn ngữ

## ProjectStatus

status-title = Tổng trạng thái của dự án: xem chúng tôi đã đi được bao xa!
status-contribute = Đóng góp giọng nói của bạn
status-hours =
    { $hours ->
       *[other] { $hours } tổng số giờ đã xác thực!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = Mục tiêu tiếp theo: { $goal }
english = Anh

## ProfileForm

profile-form-username =
    .label = Tên đăng nhập
profile-form-native-language =
    .label = Ngôn ngữ chính
profile-form-additional-language =
    .label = Ngôn ngữ bổ sung
profile-form-accent =
    .label = Giọng vùng miền
profile-form-age =
    .label = Tuổi
profile-form-gender-2 =
    .label = Giới tính
leaderboard-visibility =
    .label = Hiển thị bảng thành tích
hidden = Ẩn
visible = Hiển thị
native-language =
    .label = Tiếng mẹ đẻ
profile-form-submit-save = Lưu
profile-form-submit-saved = Đã lưu
male = Nam
female = Nữ
# Gender
other = Khác
why-profile-title = Tại sao phải tạo một hồ sơ?
why-profile-text = Bằng cách cung cấp một số thông tin về bản thân bạn, dữ liệu âm thanh mà bạn gửi tới Common Voice sẽ hữu ích hơn đối với công cụ Nhận dạng giọng nói và cũng để cải thiện độ chính xác của chúng.
dashboard = Bảng điều khiển
build-profile = Xây dựng hồ sơ
avatar = Ảnh đại diện
goals = Mục tiêu
settings = Cài đặt
edit-profile = Chỉnh sửa hồ sơ
profile-create-success = Thành công, hồ sơ đã được tạo!
profile-close = Đóng
profile-explanation = Theo dõi tiến trình của bạn với một hồ sơ và giúp dữ liệu giọng nói của chúng tôi chính xác hơn.
thanks-for-account = Cảm ơn bạn đã xác nhận tài khoản của mình, giờ hãy tạo hồ sơ của bạn.
why-demographic = Vì sao điều này quan trọng?
why-demographic-explanation-2 = Dữ liệu người dùng ẩn danh như tuổi, giới tính và giọng vùng miền giúp cải thiện dữ liệu âm thanh được sử dụng để đào tạo sự chính xác của công cụ nhận dạng giọng nói. Tên người dùng và email của bạn sẽ không bao giờ được liên kết với dữ liệu đã gửi của bạn, và bạn có thể chọn đặt tên người dùng của mình ở chế độ công khai hoặc ẩn danh.
accept-privacy = Tôi đồng ý với việc các bạn xử lý thông tin này khi các bạn giải thích trong <privacyLink>Chính sách bảo mật</privacyLink> của Mozilla
accept-privacy-title = Chính sách riêng tư
login-identity = Nhận dạng đăng nhập
login-signup = Đăng nhập / Đăng ký
edit = Chỉnh sửa
email-subscriptions = Đăng ký email
download-profile = Tải dữ liệu của tôi
contribution-experience = Kinh nghiệm đóng góp
skip-submission-feedback = Bỏ qua phản hồi thông tin
skip-submission-description = Trong khi đóng góp, phản hồi của bài gửi sẽ bị bỏ qua sau khi nhấp vào "Gửi". Việc đóng góp sẽ tiếp tục trực tiếp với 5 bản ghi âm hoặc bài xác thực tiếp theo.
skip-submission-note = Lưu ý: Bạn vẫn cần chọn giữa Nói hoặc Nghe để thay đổi hình thức đóng góp.
off = Tắt
on = Bật

## Profile - Email

browse-file-title = Tải lên hình ảnh
browse-file = Kéo và thả hoặc <browseWrap>Duyệt</browseWrap>
connect-gravatar = Kết nối với Gravatar
gravatar_not_found = Không tìm thấy gravatar cho email của bạn
file_too_large = Tập tin đã chọn quá lớn
avatar-uploaded = Đã tải lên hình đại diện
max-file-size = Tối đa { $kb }kb

## Profile - Email

manage-subscriptions = Quản lý các mục đăng kí
manage-email-subscriptions = Quản lý đăng ký bản tin email
email-already-used = Email đã được sử dụng cho tài khoản khác
add-language = Thêm ngôn ngữ
change-email-setings = Thay đổi email của bạn thông qua Cài đặt và ở bên dưới Nhận dạng đăng nhập

## FAQ

faq-title = Câu hỏi thường gặp
faq-what-cv-q = Common Voice là gì?
faq-what-cv-a =
    Công nghệ nhận dạng giọng nói đang cách mạng hóa cách chúng ta tương tác với máy móc, nhưng các hệ thống hiện có là đắt tiền và độc quyền. Common Voice là một phần của sáng kiến Mozilla, giúp mọi công nghệ nhận dạng giọng nói tốt hơn và dễ tiếp cận hơn cho mọi người. Common Voice là một cơ sở dữ liệu toàn cầu khổng lồ về các giọng nói được quyên tặng cho phép mọi người nhanh chóng và dễ dàng đào tạo các ứng dụng hỗ trợ giọng nói bằng mọi ngôn ngữ.
    
    Chúng tôi không chỉ thu thập các mẫu giọng nói bằng các ngôn ngữ được sử dụng rộng rãi mà còn ở những người có số lượng người nói nhỏ hơn. Xuất bản một tập dữ liệu đa dạng về tiếng nói sẽ trao quyền cho các nhà phát triển, doanh nhân và cộng đồng để tự giải quyết khoảng trống này. Ngoài bộ dữ liệu Common Voice, chúng tôi còn xây dựng một công cụ nhận dạng giọng nói mã nguồn mở có tên Deep Speech.
faq-what-cv-a-2 =
    Công nghệ nhận dạng giọng nói đang cách mạng hóa cách chúng ta tương tác với máy móc, nhưng các hệ thống hiện có rất đắt và độc quyền.  Mozilla Common Voice là một sáng kiến ​​nhằm làm cho công nghệ nhận dạng giọng nói tốt hơn và dễ tiếp cận hơn cho mọi người.  Common Voice là một cơ sở dữ liệu toàn cầu khổng lồ về các giọng nói được quyên góp cho phép mọi người nhanh chóng và dễ dàng đào tạo các ứng dụng hỗ trợ giọng nói ở mọi ngôn ngữ có khả năng.
    
    Chúng tôi không chỉ thu thập các mẫu giọng nói ở các ngôn ngữ được nói rộng rãi mà còn ở những ngôn ngữ có số lượng người nói ít hơn.  Việc xuất bản một tập dữ liệu đa dạng về tiếng nói sẽ trao quyền cho các nhà phát triển, doanh nhân và cộng đồng tự giải quyết khoảng cách này.
faq-why-important-q = Tại sao nó lại quan trọng?
faq-why-important-a =
    Lời nói thường là cách tự nhiên nhất mà chúng ta giao tiếp với nhau và công nghệ giọng nói đang mang lại sự thuận tiện cho máy tính và thiết bị di động của chúng ta. Chúng tôi muốn trao quyền cho các nhà phát triển để xây dựng các ứng dụng nhận dạng giọng nói tuyệt vời như dịch giả thời gian thực và trợ lý kỹ thuật số hỗ trợ giọng nói. Nhưng ngay bây giờ hầu hết dữ liệu giọng nói cần thiết để xây dựng các loại ứng dụng này là đắt tiền và độc quyền. Chúng tôi hy vọng bộ dữ liệu Common Voice sẽ cung cấp cho các nhà phát triển những gì họ cần để đổi mới và cung cấp công nghệ giọng nói bằng ngôn ngữ của họ.
    
    Để làm cho nhận dạng giọng nói trở nên tổng quát hơn, chúng tôi đang thu thập các mẫu giọng nói bằng các ngôn ngữ được sử dụng rộng rãi cũng như những người có số lượng người nói nhỏ hơn thường bị các dịch vụ nhận dạng giọng nói thương mại đánh giá thấp. Xuất bản một tập dữ liệu đa dạng về giọng nói sẽ trao quyền cho các nhà phát triển, doanh nhân và toàn bộ cộng đồng lời nói để tự giải quyết khoảng trống này.
faq-how-get-q = Làm sao để tôi có thể lấy dữ liệu Common Voice?
faq-how-get-a = Bộ dữ liệu của Common Voice có sẵn để tải xuống theo giấy phép <licenseLink>CC0</licenseLink> trên <datasetLink>trang dữ liệu của chúng tôi</datasetLink>. Bạn cũng có thể tải xuống một số bộ dữ liệu có sẵn công khai khác từ cùng một trang.
faq-when-release2-q = Khi nào bạn sẽ phát hành dữ liệu Common Voice bằng các ngôn ngữ khác?
faq-when-release2-a = Phiên bản đa ngôn ngữ của bộ dữ liệu Common Voice hiện đang được cộng đồng hỗ trợ. Nếu bạn muốn giúp chúng tôi mang Common Voice sang các ngôn ngữ mới, hãy xem <sentenceCollectorLink>công cụ thu thập câu</sentenceCollectorLink> để thêm câu mới vào tập dữ liệu và Mozilla <pontoonLink>Pontoon</pontoonLink> để dịch trang web. Các ngôn ngữ mới được thêm vào Common Voice để đóng góp giọng nói khi 5000 câu được phê duyệt đã được thu thập.
faq-why-mission-q = Tại sao Common Voice lại là một phần của sứ mệnh Mozilla?
faq-why-mission-a = Mozilla được dành riêng để giữ cho web mở và có thể truy cập được cho mọi người. Để làm được điều đó, chúng tôi cần trao quyền cho người tạo web thông qua các dự án như Common Voice. Khi công nghệ giọng nói phát triển vượt ra ngoài các ứng dụng thích hợp, chúng tôi tin rằng chúng phải phục vụ tất cả người dùng như nhau. Điều đó có nghĩa là đầu tư vào nhiều ngôn ngữ hơn và cung cấp các điểm nhấn và nhân khẩu học đa dạng khi xây dựng và thử nghiệm các công nghệ giọng nói. Common Voice là tài nguyên công cộng có sẵn cho tất cả mọi người và các nhóm và nhà phát triển Mozilla trên toàn thế giới cũng đã sử dụng nó cho các dự án của chúng tôi.
faq-what-cv-and-deepspeech-q = Điểm gì khác biệt giữa Common Voice và Deep Speech?
faq-what-cv-and-deepspeech-a = Bộ dữ liệu của Common Voice bổ sung cho công cụ nhận dạng giọng nói mã nguồn mở Mozilla, Deep Speech. Phiên bản đầu tiên của Deep Speech được phát hành vào tháng 11 năm 2017 và tiếp tục phát triển kể từ đó. Cùng với bộ dữ liệu Common Voice, chúng tôi tin rằng công nghệ nhận dạng giọng nói nguồn mở này sẽ có sẵn cho mọi người. Chúng tôi hy vọng những công nghệ này sẽ cho phép các nhà phát triển xây dựng một làn sóng các sản phẩm và dịch vụ sáng tạo.
faq-is-goal-assistant-q = Có phải mục tiêu của Common Voice là để xây dựng một trợ lý giọng nói không?
faq-is-goal-assistant-a = Mục tiêu của bộ dữ liệu Common Voice là cho phép mọi người trên thế giới xây dựng nhận dạng giọng nói, nhận dạng người nói hoặc bất kỳ loại ứng dụng nào yêu cầu dữ liệu giọng nói. Trợ lý giọng nói chỉ là một trong nhiều loại ứng dụng bạn có thể sử dụng bộ dữ liệu để xây dựng.
faq-do-want-native-q = Tôi là một người không phải người bản xứ và tôi nói bằng giọng, bạn vẫn muốn giọng nói của tôi chứ?
faq-do-want-native-a = Vâng, chúng tôi đặc biệt muốn giọng nói của bạn! Mục đích của Common Voice là thu thập càng nhiều giọng khác nhau càng tốt để các dịch vụ nhận dạng giọng nói hoạt động tốt như nhau đối với mọi người. Điều này có nghĩa là sự đóng góp từ những người không phải người bản xứ đặc biệt quan trọng.
faq-why-different-speakers-q = Tại sao bạn cần rất nhiều người nói khác nhau cho mỗi ngôn ngữ?
faq-why-different-speakers-a =
    Hầu hết các cơ sở dữ liệu giọng nói được đào tạo với sự biểu hiện quá mức của các nhóm nhân khẩu học nhất định, dẫn đến ưu tiên cho <articleLink>nam giới và tầng lớp trung lưu</articleLink>. Điểm nhấn và phương ngữ thường được thể hiện trong bộ dữ liệu đào tạo thường được liên kết với các nhóm người đã bị thiệt thòi. Nhiều máy cũng gặp khó khăn trong việc hiểu giọng nói của phụ nữ.
    Đây là lý do tại sao chúng tôi muốn thay đổi trong cơ sở dữ liệu lời nói của chúng tôi!
faq-why-my-lang-q = Tại sao ngôn ngữ của tôi chưa được đưa vào?
faq-why-my-lang-new-a = Mozilla không chọn hay ưu tiên bất kỳ ngôn ngữ nào hơn ngôn ngữ khác. Thay vào đó, Common Voice là một sáng kiến hoàn toàn dựa vào cộng đồng, nhưng cần có <multilangLink>một vài bước để thêm một ngôn ngữ mới</multilangLink> và bắt đầu thu thập giọng nói. Đầu tiên, trang web Common Voice cần được dịch để các thành viên cộng đồng có thể truy cập vào trải nghiệm của người đóng góp bằng ngôn ngữ của họ. Tiếp theo, chúng tôi cần một bộ lớn các câu không có bản quyền để mọi người đọc thành tiếng. Khi cả hai yêu cầu đó được thỏa mãn, một ngôn ngữ sẽ ra mắt trên nền tảng Common Voice để mọi người bắt đầu ghi âm giọng nói của mình và xác thực các đóng góp của người khác. Nếu bạn muốn giúp khởi chạy một ngôn ngữ mới, hãy đến <sentenceCollectorLink>công cụ thu thập câu</sentenceCollectorLink> của chúng tôi để bắt đầu.
faq-what-quality-q = Mức chất lượng âm thanh nào được yêu cầu cho một clip thoại được sử dụng trong bộ dữ liệu?
faq-what-quality-a = Chúng tôi muốn bộ dữ liệu Common Voice phản ánh chất lượng âm thanh mà một công cụ chuyển lời nói thành văn bản sẽ nghe thấy trong tự nhiên, vì vậy chúng tôi đang tìm kiếm sự đa dạng. Ngoài cộng đồng người nói đa dạng, bộ dữ liệu với chất lượng âm thanh khác nhau sẽ nghiên cứu cho công cụ chuyển lời nói thành văn bản để xử lý các tình huống thực tế khác nhau, từ nói chuyện nền tảng đến tiếng ồn xe hơi. Miễn là clip thoại của bạn dễ hiểu, nó sẽ đủ tốt cho bộ dữ liệu.
faq-why-10k-hours-q = Tại sao 10.000 giờ được xác thực là mục tiêu cho mỗi ngôn ngữ để thu âm thanh?
faq-why-10k-hours-a = Đây là số giờ cần thiết để đào tạo sản xuất hệ thống chuyển giọng nói thành văn bản.
faq-how-calc-hours-q = Làm thế nào để Common Voice tính toán giờ?
faq-how-calc-hours-a = Chúng tôi tính toán số giờ bằng cách ước tính độ dài trung bình của mỗi bản ghi, sau đó nhân số đó với tổng số bản ghi trên tất cả các ngôn ngữ.
faq-where-src-from-2-q = Các văn bản nguồn được lấy từ đâu?
faq-where-src-from-2-a =
    Văn bản nguồn của chúng tôi được tạo thành từ sự đóng góp ban đầu cũng như cuộc đối thoại từ các kịch bản phim công cộng như <italic>It’s a Wonderful Life</italic>.
    
    Bạn có thể xem các câu nguồn của chúng tôi trong <githubLink>thư mục GitHub</githubLink> này.
faq-why-not-ask-read-q = Tại sao bạn không yêu cầu mọi người đọc từ sách hoặc các bài viết Wikipedia bằng các ngôn ngữ khác nhau?
faq-why-not-ask-read-a = Để làm cho bộ dữ liệu Common Voice trở nên hữu ích nhất có thể, chúng tôi đã quyết định chỉ cho phép văn bản nguồn có sẵn theo giấy phép Creative Commons (CC0). Sử dụng tiêu chuẩn CC0 có nghĩa là khó tìm và thu thập văn bản nguồn hơn, nhưng cho phép mọi người sử dụng dữ liệu giọng nói kết quả mà không bị hạn chế sử dụng hoặc ủy quyền từ Mozilla. Cuối cùng, chúng tôi muốn làm cho bộ dữ liệu đa ngôn ngữ trở nên hữu ích nhất có thể cho mọi người, bao gồm các nhà nghiên cứu, trường đại học, công ty khởi nghiệp, chính phủ, tổ chức mục đích xã hội và người có sở thích.
faq-why-account-q = Tại sao tôi nên đăng ký tài khoản?
faq-is-account-public-q = Thông tin tài khoản của tôi có công khai không?
faq-how-privacy-q = Làm thế nào để bạn đảm bảo ẩn danh và quyền riêng tư của những người đã góp tiếng nói của họ?
faq-how-privacy-a = Tất cả các clip thoại trong bộ dữ liệu được kiểm tra thông tin nhận dạng cá nhân. Khi người đóng góp cung cấp dữ liệu nhân khẩu học thông qua hồ sơ của họ, thông tin đó sẽ được nhận dạng từ các clip thoại của họ trước khi được gói để tải xuống trong tập dữ liệu và không bao giờ được công khai trên trang hồ sơ của họ.
faq-what-determine-identity-q = Điều đó có nghĩa là gì khi tôi có thể xác định danh tính của những người nói trong bộ dữ liệu Common Voice?
faq-what-determine-identity-a =
    Bộ dữ liệu Common Voice là một tài nguyên mở và công khai có thể được sử dụng để đào tạo nhiều ứng dụng hỗ trợ giọng nói. Để bảo vệ tính bảo mật của những người đóng góp, chúng tôi yêu cầu mọi người tải xuống tập dữ liệu Common Voice phải tôn trọng quyền riêng tư của cộng tác viên.
    
    Tất cả các clip thoại trong bộ dữ liệu được kiểm tra thông tin nhận dạng cá nhân. Khi bạn tải xuống tập dữ liệu, bạn đồng ý không cố gắng xác định danh tính của bất kỳ người đóng góp nào. Điều đó có nghĩa là bạn không thể cố gắng liên kết thông tin trong bộ dữ liệu với thông tin cá nhân của cộng tác viên. Tuy nhiên, bạn có thể sử dụng tập dữ liệu để huấn luyện nhận dạng giọng nói, nhận dạng người nói hoặc các ứng dụng khác, ví dụ, bằng cách liên kết thông tin trong tập dữ liệu với thông tin khác đã có trong tập dữ liệu.
faq-what-is-cv = Common Voice là gì?
faq-using-cv = Sử dụng Common Voice
faq-description = Common Voice là một phần trong sáng kiến của Mozilla nhằm giúp đào tạo cho máy móc cách người thật nói.
faq-search-for-answers =
    .label = Tìm kiếm câu trả lời

## ABOUT US

about-title = Tại sao là Voice Collector?
about-subtitle = Voice Collector là một phần trong dự án của FTech AI nhằm giúp đào tạo cho máy móc cách người thật nói
about-header-description =
    Cả hai dự án này là một phần trong những nỗ lực của chúng tôi để thu hẹp sự phân chia lời nói kỹ thuật số. Các công nghệ nhận dạng giọng nói mang lại kích thước con người cho các thiết bị của chúng tôi, nhưng các nhà phát triển cần một lượng dữ liệu giọng nói khổng lồ để xây dựng chúng. Hiện nay, hầu hết các dữ liệu đó là đắt tiền và độc quyền.
    Chúng tôi muốn cung cấp dữ liệu giọng nói một cách tự do và công khai và đảm bảo dữ liệu thể hiện sự đa dạng của người thực. Cùng nhau chúng ta có thể làm cho nhận dạng giọng nói tốt hơn cho mọi người.
about-header-description-2 =
    Dự án này là một nỗ lực để thu hẹp khoảng cách giữa giọng nói kỹ thuật số. Các công nghệ nhận dạng giọng nói mang lại kích thước con người cho các thiết bị của chúng tôi, nhưng các nhà phát triển cần một lượng dữ liệu giọng nói khổng lồ để xây dựng chúng. Hiện nay, hầu hết các dữ liệu đó là đắt tiền và độc quyền.
    Chúng tôi muốn cung cấp dữ liệu giọng nói một cách tự do và công khai và đảm bảo dữ liệu thể hiện sự đa dạng của người thực. Cùng nhau chúng ta có thể làm cho nhận dạng giọng nói tốt hơn cho mọi người.
how-does-it-work-title = Nó hoạt động như thế nào
how-does-it-work-text = Chúng tôi có thể cung cấp một bộ dữ liệu nguồn mở của các giọng nói. Quyên góp giọng nói của bạn, xác thực tính chính xác clip của người khác, làm cho bộ dữ liệu tốt hơn cho mọi người.
about-speak = Nói
about-speak-text = Người đóng góp ghi lại clip bằng giọng nói bằng cách đọc từ ngân hàng các câu được tặng.
about-listen-queue = Nghe-Xếp hàng
about-listen-queue-text = Các clip thoại được nhập vào hàng đợi gửi để sẵn sàng nghe.
about-listen = Nghe
about-listen-text = Người dùng xác nhận tính chính xác của các clip được tặng, kiểm tra xem người nói có đọc câu đúng không.
about-is-it-valid = Clip có hợp lệ không?
about-is-it-valid-text = Một clip thoại được đánh dấu là "hợp lệ" khi người dùng cho nó một phiếu bầu Có.
about-yes-votes = ≥2 phiếu bầu đồng ý
about-yes-votes-text = Để đưa nó vào bộ dữ liệu Common Voice, một clip thoại phải được xác thực bởi hai người dùng riêng biệt.
about-no-votes = ≥ 2 phiếu bầu không đồng ý
about-no-votes-text = Khi người dùng từ chối clip thoại, nó sẽ trở về hàng đợi. Nếu bị từ chối lần thứ hai, clip thoại sẽ được chuyển sang clip không hợp lệ.
about-dataset-new = Bộ dữ liệu Common Voice
about-dataset-new-text = Bộ dữ liệu Common Voice chứa hàng trăm ngàn mẫu giọng nói giúp các nhà phát triển xây dựng các công cụ nhận dạng giọng nói.
about-clip-graveyard = Clip không hợp lệ
about-clip-graveyard-text = Clip không hợp lệ bao gồm các clip thoại không được đưa vào bộ dữ liệu Common Voice. Giống như tập dữ liệu, clip không hợp lệ có sẵn để tải xuống.
about-partners = Đối tác
about-become-a-partner = Trở thành một đối tác
about-partnership =
    Common Voice là một dự án hợp tác và chúng tôi phụ thuộc vào cộng đồng đối tác và cộng tác viên của mình để xây dựng bộ dữ liệu giọng nói nguồn mở lớn nhất từ trước đến nay.
    
    Chúng tôi xin cảm ơn những người và tổ chức sau đây đã giúp đỡ cho dự án:
about-get-involved = Tham gia đóng góp
about-get-involved-text-2 =
    Bạn muốn giúp làm cho Common Voice trở nên tốt hơn?
    Tuyệt quá! Hãy liên lạc qua email hoặc diễn đàn <discourseLink>Discourse</discourseLink>,
    gửi các vấn đề về trang web thông qua <githubLink>GitHub</githubLink>,
    hoặc tham gia trò chuyện cộng đồng trên <matrixLink>Matrix</matrixLink>.
about-nav-why-common-voice = Tại sao ?
about-nav-how-it-works = Làm thế nào ?
about-nav-partners = Đối tác
about-nav-get-involved = Tham gia đóng góp
mycroft-title = Mycroft Ai
mycroft-subtitle = Trí tuệ nhân tạo
mycroft-description =
    Mycroft là trợ lý mã nguồn mở đầu tiên trên thế giới.
    Mycroft chạy mọi nơi - trên máy tính để bàn, bên trong ô tô hoặc trên Raspberry Pi.
mycroft-secondary-description = Đây là phần mềm nguồn mở có thể được tự do phối lại, mở rộng và cải thiện. Mycroft có thể được sử dụng trong mọi thứ từ dự án khoa học đến ứng dụng phần mềm doanh nghiệp.

## Glossary

glossary = Từ vựng
localization = Bản địa hóa
localization-explanation = Đây là quá trình của chúng tôi để dịch và điều chỉnh nội dung của chúng tôi cho nhiều địa phương (ngôn ngữ).
sentence-collection = Bộ sưu tập câu
sentence-collection-explanation = Thu thập các câu từ miền công cộng hoặc viết câu mới cho miền công cộng.
hours-recorded-explanation = Số giờ ghi âm giọng nói chúng tôi đã thu thập cho đến nay.
hours-validated-explanation = Số giờ ghi âm giọng nói đã được xác nhận bởi 2 trên 3 người dùng với số phiếu bầu là "Có". Những đánh dấu tiến trình hướng tới mục tiêu tổng thể 10 nghìn giờ của dự án.
sst = Nhận dạng giọng nói (STT)
sst-explanation = Công nghệ Nhận dạng giọng nói (STT) chuyển đổi dữ liệu giọng nói thành văn bản.
de-identified = Không xác định
de-identified-explanation = Quá trình mà một người đóng góp thông tin hồ sơ cá nhân bị che khuất khỏi các clip thoại được tặng của họ khi được đóng gói để tải xuống như một phần của bộ dữ liệu.

## Error pages

error-title-404 = Chúng tôi không thể tìm thấy trang đó cho bạn
error-content-404 = Có lẽ <homepageLink>trang chủ</homepageLink> của chúng tôi sẽ giúp ích? Để đặt câu hỏi, vui lòng tham gia <matrixLink>cộng đồng trò chuyện trên Matrix</matrixLink>, theo dõi các sự cố trang qua <githubLink>GitHub</githubLink> hoặc truy cập <discourseLink>diễn đàn Discourse của chúng tôi</discourseLink>.
error-title-503 = Trang web hiện không thể truy cập được
error-content-503 = Các trang web sẽ quay lại càng sớm càng tốt. Để biết thông tin mới nhất, vui lòng tham gia <matrixLink>cộng đồng trò chuyện trên Matrix</matrixLink> hoặc truy cập <githubLink>GitHub</githubLink> hoặc <discourseLink>diễn đàn Discourse của chúng tôi</discourseLink> để gửi và theo dõi các vấn đề về trải nghiệm trang web.
error-code = Lỗi { $code }

## Data

data-download-button = Tải dữ liệu Common Voice
data-download-yes = Có
data-download-deny = Không
data-download-license = Giấy phép: <licenseLink>CC-0</licenseLink>
data-download-modal = Bạn sắp tải xuống mục này có dung lượng <size>{ $size }GB</size>, tiếp tục?
data-subtitle = Chúng tôi đang xây dựng một bộ dữ liệu giọng nói mở và công khai mà mọi người có thể sử dụng để đào tạo các ứng dụng hỗ trợ giọng nói.
data-explanatory-text = Chúng tôi tin rằng bộ dữ liệu giọng nói khổng lồ và công khai có sẵn sẽ thúc đẩy đổi mới và cạnh tranh thương mại lành mạnh về lĩnh vực công nghệ giọng nói dựa trên máy học. Đây là một nỗ lực toàn cầu và chúng tôi mời mọi người tham gia. Mục tiêu của chúng tôi là giúp công nghệ giọng nói trở nên hòa nhập hơn, phản ánh sự đa dạng của tiếng nói từ khắp nơi trên thế giới.
data-get-started = <speechBlogLink>Bắt đầu với nhận dạng giọng nói</speechBlogLink>
data-other-title = Bộ dữ liệu giọng nói khác…
data-other-goto = Đi đến { $name }
data-other-download = Tải dữ liệu
data-bundle-button = Tải Gói dữ liệu xuống
data-bundle-description = Dữ liệu Common Voice cộng với tất cả các bộ dữ liệu giọng nói khác ở trên.
release-version = Phiên bản
dataset-date = Ngày
license = Giấy phép: <licenseLink>{ $license }</licenseLink>
license-mixed = Xáo trộn
data-download-singleword-title = Tải xuống phân đoạn mục tiêu từ đơn
data-download-singleword-callout-v2 = Đây là một phân đoạn theo trường hợp sử dụng chứa dữ liệu để hỗ trợ nhận dạng chữ số bằng giọng nói và phát hiện có / không.
review-terms = Bằng việc sử dụng Voice Collector, bạn đồng ý với <termsLink>Điều khoản</termsLink> và <privacyLink>Thông báo bảo mật</privacyLink> của chúng tôi
terms-agree = Tôi đồng ý
terms-disagree = Tôi không đồng ý
review-aborted = Bản tải lên bị hủy bỏ. Bạn có muốn xóa bản ghi âm của mình không?
review-submit-title = Đánh giá & Gửi
review-submit-msg = Cảm ơn bạn đã ghi âm!<lineBreak></lineBreak>Bây giờ hãy xem lại và gửi các clip của bạn bên dưới.
review-recording = Xem lại
review-rerecord = Ghi lại
review-cancel = Hủy gửi
review-keep-recordings = Giữ bản ghi âm
review-delete-recordings = Xóa bản ghi âm của tôi

## Datasets Page

datasets-headline = Chúng tôi đã xây dựng một bộ dữ liệu giọng nói đa ngôn ngữ mã nguồn mở mà bất kỳ ai cũng có thể sử dụng để huấn luyện các ứng dụng hỗ trợ giọng nói.
datasets-positioning =
    Chúng tôi tin rằng các bộ dữ liệu giọng nói lớn, có sẵn công khai sẽ thúc đẩy sự đổi mới và cạnh tranh thương mại lành mạnh trong công nghệ lời nói dựa trên máy học.
    
    Bộ dữ liệu đa ngôn ngữ của Common Voice đã là bộ dữ liệu giọng nói có sẵn công khai lớn nhất thuộc loại này, nhưng nó không phải là bộ dữ liệu duy nhất.
    
    Hãy xem trang này như một trung tâm tham chiếu cho các bộ dữ liệu giọng nói nguồn mở khác và, khi Common Voice tiếp tục phát triển, một ngôi nhà cho các bản cập nhật phát hành của chúng tôi.
language = Ngôn ngữ
# File size in gigabytes
size = Kích thước
validated-hr-total = Tổng số giờ đã xác nhận
overall-hr-total = Tổng số giờ
cv-license = Giấy phép
audio-format = Định dạng âm thanh
number-of-voices = Số lượng tiếng nói
splits = Tách
email-to-download = Nhập email để tải xuống
why-email = <b>Tại sao lại cần email?</b> Chúng tôi có thể cần liên hệ với bạn trong tương lai về các thay đổi đối với tập dữ liệu, một email cung cấp cho chúng tôi một điểm liên hệ.
confirm-size = Bạn đã sẵn sàng để bắt đầu tải xuống <b>{ $size }</b>
size-gigabyte = GB
size-megabyte = MB
confirm-no-identify = <b>Bạn đồng ý</b> về việc không cố gắng xác định danh tính của người nói trong bộ dữ liệu Common Voice
download-language = Tải xuống { $language }
validated-hours = Số giờ đã xác thực
recorded-hours = Số giờ đã ghi âm
whats-inside = Những gì bên trong bộ dữ liệu Common Voice?
dataset-description-hours =
    Mỗi mục trong bộ dữ liệu bao gồm một tệp MP3 duy nhất và tệp văn bản tương ứng. <b>{ $total }</b> giờ được ghi trong tập dữ liệu cũng bao gồm siêu dữ liệu nhân khẩu học như tuổi, giới tính và giọng nói có thể giúp rèn luyện tính chính xác của các công cụ nhận dạng giọng nói.
    
    Bộ dữ liệu hiện bao gồm <b>{ $valid }</b> giờ được xác thực bằng <b>{ $languages }</b> ngôn ngữ , nhưng chúng tôi luôn luôn thêm nhiều tiếng nói và ngôn ngữ. Hãy xem <languagesLink>trang ngôn ngữ</languagesLink> của chúng tôi để yêu cầu ngôn ngữ hoặc bắt đầu đóng góp.
want-dataset-update = Muốn cập nhật khi chúng tôi phát hành phiên bản mới của bộ dữ liệu Common Voice? Đăng kí theo dõi bản tin của chúng tôi.
subscribe = Đăng kí
get-started-speech = Bắt đầu với nhận dạng giọng nói
other-datasets = Bộ dữ liệu thoại khác
feedback-q = Có phản hồi?
deepspeech-info = Bộ dữ liệu Common Voice bổ sung cho công cụ nhận dạng giọng nói mã nguồn mở Mozilla, Deep Speech, mà bạn có thể sử dụng để xây dựng các ứng dụng nhận dạng giọng nói. Đọc <githubLink>tổng quan về Github</githubLink> của chúng tôi hoặc tham gia <discourseLink>diễn ngôn DeepSpeech</discourseLink> để tìm hiểu cách bắt đầu.
common-voice-info-new = Có câu hỏi nào về Common Voice? Ý tưởng cho cải tiến hoặc phản hồi về một ngôn ngữ cụ thể? Tham gia với chúng tôi trên <discourseLink>diễn đàn Discourse</discourseLink> và cho chúng tôi biết.
data-other-librispeech-description = LibriSpeech là một kho tàng khoảng 1000 giờ của 16Khz bài phát biểu tiếng Anh có nguồn gốc từ các audiobook từ dự án LibriVox.
data-other-ted-name = TED-LIUM Corpus
data-other-ted-description = TED-LIUM corpus được tạo từ các cuộc nói chuyện, và các bản ghi chép của họ có sẵn trên trang web của TED.
data-other-voxforge-description = VoxForge được thiết lập để thu thập câu nói được chép lại để sử dụng với Hệ thống nhận dạng giọng nói miễn phí và nguồn mở.
data-other-tatoeba-description = Tatoeba là một cơ sở dữ liệu lớn gồm các câu, bản dịch và bản nói chuyện để sử dụng trong việc học ngôn ngữ. Bản tải xuống này chứa tiếng Anh được ghi bởi cộng đồng của họ.
your-feedback = Bạn có ý tưởng về cách chúng tôi có thể làm cho bộ dữ liệu Common Voice tốt hơn không? Hãy cho chúng tôi biết trên Discourse
go-discourse = Đi đến Discourse
missing-language = Không thấy ngôn ngữ của bạn được phản ánh trong bộ dữ liệu? Để yêu cầu một ngôn ngữ hãy đi đến trang ngôn ngữ của chúng tôi.
go-languages-page = Đi đến trang ngôn ngữ
ready-to-validate = Sẵn sàng để giúp xác nhận các câu?
more = Thêm
close = Đóng
download = Tải xuống
dataset-version = Phiên bản

## Download Modal

download-title = Quá trình tải xuống của bạn đã bắt đầu.
download-helpus = Giúp chúng tôi xây dựng một cộng đồng xung quanh công nghệ giọng nói, giữ liên lạc qua email.
download-form-email =
    .label = Nhập email của bạn
    .value = Cám ơn, chúng tôi sẽ giữ liên lạc.
download-back = Trở về bộ dữ liệu Common Voice
download-no = Không, cảm ơn

## Contact Modal

contact-title = Mẫu liên hệ
contact-form-name =
    .label = Tên
contact-form-message =
    .label = Tin nhắn
contact-required = *yêu cầu

## Request Language Modal

request-language-title = Yêu cầu ngôn ngữ
request-language-form-language =
    .label = Ngôn ngữ
request-language-success-title = Đã gửi yêu cầu ngôn ngữ thành công, cảm ơn bạn.
request-language-success-content = Chúng tôi sẽ giữ liên lạc với bạn để biết thêm thông tin về cách thêm ngôn ngữ của bạn vào Common Voice thật sớm.
select-language = Chọn một ngôn ngữ...
other-language = Ngôn ngữ khác

## Languages Overview

language-section-in-progress = Trong tiến trình
language-section-in-progress-new-description = Những ngôn ngữ này hiện đang được phát triển cộng đồng. Các thanh tiến trình cho biết mỗi ngôn ngữ trong quá trình <localizationGlossaryLink>bản địa hóa trang web</localizationGlossaryLink> và <sentenceCollectionGlossaryLink>thu thập câu</sentenceCollectionGlossaryLink>.
language-section-launched = Ra mắt
language-section-launched-description = Đối với những ngôn ngữ được phát hành này, trang web đã được <localizationGlossaryLink>bản địa hóa</localizationGlossaryLink> thành công và có đủ <sentenceCollectionGlossaryLink>các câu được thu thập</sentenceCollectionGlossaryLink> để cho phép đóng góp <speakLink>Nói</speakLink> và <listenLink>Nghe</listenLink> liên tục.
languages-show-more = Xem thêm
languages-show-less = Xem ít hơn
language-meter-in-progress = Tiến trình
language-total-progress = Tổng
language-search-input =
    .placeholder = Tìm kiếm
language-speakers = Diễn giả
localized = Bản địa hóa
sentences = Các câu
total-hours = Giờ đã xác thực

## Contribution

action-click = Nhấp
action-tap = Chạm
contribute = Đóng góp
listen = Nghe
skip = Bỏ qua
shortcuts = Phím tắt
clips-with-count-pluralized =
    { $count ->
       *[other] <bold>{ $count }</bold> clip
    }
#goal-help-recording = Bạn đã giúp cho Common Voice đạt được <goalPercentage></goalPercentage> trong số { $goalValue } mục tiêu ghi âm hàng ngày của chúng tôi!
#goal-help-validation = Bạn đã giúp cho Common Voice đạt được <goalPercentage></goalPercentage> trong số { $goalValue } mục tiêu xác thực hàng ngày của chúng tôi!
goal-help-recording = Cảm ơn bạn đã giúp cho sự phát triển và lớn mạnh của FTech
goal-help-validation = Cảm ơn bạn đã giúp cho sự phát triển và lớn mạnh của FTech

contribute-more =
    { $count ->
       *[other] Sẵn sàng làm thêm { $count } cái nữa?
    }
record-cta = Bắt đầu ghi âm
record-platform-not-supported = Chúng tôi rất tiếc, nhưng thiết bị của bạn hiện không được hỗ trợ.
record-platform-not-supported-desktop = Trên máy tính để bàn, bạn có thể tải xuống phiên bản mới nhất:
record-platform-not-supported-ios-non-safari = Trên iOS, vui lòng tiếp tục với Safari để cho phép ghi âm…
record-must-allow-microphone = Bạn cần phải cho phép truy cập micrô.
record-no-mic-found = Không tìm thấy micrô.
record-error-too-short = Bản ghi âm quá ngắn
record-error-too-long = Bản ghi âm quá dài
record-error-too-quiet = Bản ghi âm không có tiếng
record-cancel = Hủy ghi lại
record-instruction = { $actionType }<recordIcon></recordIcon> sau đó đọc to câu
record-stop-instruction = { $actionType }<stopIcon></stopIcon> khi hoàn thành
record-three-more-instruction = Còn lại ba câu!
record-again-instruction = Tuyệt!<recordIcon></recordIcon> Ghi âm clip tiếp theo của bạn
record-again-instruction2 = Hãy tiếp tục! Ghi âm lại <recordIcon></recordIcon>
record-last-instruction = <recordIcon></recordIcon> Cái cuối cùng!
review-tooltip = Xem lại và ghi âm lại các clip ở đây khi bạn tiếp tục
share-clip = Chia sẻ giọng nói của bạn
share-common-voice = Chia sẻ Common Voice
review-instruction = Nghe lại & ghi âm lại nếu cần
record-submit-tooltip = { $actionType } gửi khi sẵn sàng
clips-uploaded = Đã tải clip lên
record-abort-title = Kết thúc ghi âm trước?
record-abort-text = Bạn sẽ mất tiến độ nếu bây giờ bạn rời khỏi
record-abort-submit = Gửi clip
record-abort-continue = Kết thúc ghi âm
record-abort-delete = Thoát & Xóa clip
listen-instruction = { $actionType }<playIcon></playIcon> họ có nói chính xác câu đó không?
listen-again-instruction = Làm tốt lắm!<playIcon></playIcon> Nghe lại khi bạn đã sẵn sàng
listen-3rd-time-instruction = 2 cái đã xong, cố gắng lên!<playIcon></playIcon>
listen-last-time-instruction = <playIcon></playIcon>Cái cuối cùng!
listen-empty-state = Chúng tôi đã hết clip để xác thực bằng ngôn ngữ này...
speak-empty-state = Chúng tôi đã hết câu để ghi lại bằng ngôn ngữ này...
speak-empty-state-cta = Đóng góp nghe
record-button-label = Ghi âm giọng nói của bạn
share-title-new = <bold>Giúp chúng tôi</bold> tìm thêm giọng nói
keep-track-profile = Theo dõi tiến trình của bạn với một hồ sơ
login-to-get-started = Đăng nhập hoặc đăng ký để bắt đầu
target-segment-first-card = Bạn đang đóng góp cho phân đoạn mục tiêu đầu tiên của chúng tôi
target-segment-generic-card = Bạn đang đóng góp cho một phân đoạn mục tiêu
target-segment-first-banner = Giúp tạo phân đoạn mục tiêu đầu tiên của Common Voice trong { $locale }
target-segment-add-voice = Thêm giọng nói của bạn
target-segment-learn-more = Tìm hiểu thêm

## Reporting

report = Báo cáo
report-title = Gửi một báo cáo
report-ask = Những vấn đề bạn đang gặp phải với câu này?
report-offensive-language = Ngôn từ xúc phạm
report-offensive-language-detail = Câu có ngôn ngữ thiếu tôn trọng hoặc gây khó chịu.
report-grammar-or-spelling = Lỗi ngữ pháp / chính tả
report-grammar-or-spelling-detail = Câu có lỗi ngữ pháp hoặc chính tả.
report-different-language = Ngôn ngữ khác
report-different-language-detail = Nó được viết bằng một ngôn ngữ khác với những gì tôi nói.
report-difficult-pronounce = Khó phát âm
report-difficult-pronounce-detail = Nó chứa các từ hoặc cụm từ khó đọc hoặc phát âm.
report-offensive-speech = Lời nói xúc phạm
report-offensive-speech-detail = Đoạn clip có ngôn từ thiếu tôn trọng hoặc gây khó chịu.
report-other-comment =
    .placeholder = Bình luận
success = Thành công
continue = Tiếp tục
report-success = Báo cáo đã được gửi thành công

## Goals

streaks = Đóng góp
days =
    { $count ->
       *[other] Ngày
    }
recordings =
    { $count ->
       *[other] Bản ghi
    }
validations =
    { $count ->
       *[other] Xác thực
    }

## Dashboard

your-languages = Ngôn ngữ của bạn
toward-next-goal = Hướng tới mục tiêu tiếp theo
goal-reached = Đã đạt được mục tiêu
clips-you-recorded = Clip bạn đã ghi
clips-you-validated = Clip bạn đã xác thực
todays-recorded-progress = Tiến trình giọng nói chung hôm nay trên các clip được ghi lại
todays-validated-progress = Tiến trình giọng nói chung hôm nay trên các clip được xác thực
stats = Thống kê
awards = Giải thưởng
you = Bạn
everyone = Mọi người
contribution-activity = Hoạt động đóng góp
top-contributors = Những người đóng góp hàng đầu
recorded-clips = Clip đã ghi
validated-clips = Clip đã xác thực
total-approved = Tổng số được chấp nhận
overall-accuracy = Độ chính xác tổng thể
set-visibility = Hiển thị tôi trong bảng xếp hạng
visibility-explainer = Cài đặt này kiểm soát khả năng hiển thị bảng xếp hạng của bạn. Khi ẩn, tiến trình của bạn sẽ được riêng tư. Điều này có nghĩa là hình ảnh, tên người dùng và tiến trình của bạn sẽ không xuất hiện trên bảng xếp hạng. Lưu ý rằng việc làm mới bảng xếp hạng sẽ mất ~ { $minutes } phút để đưa ra các thay đổi.
visibility-overlay-note = Lưu ý: Khi được đặt thành 'Hiển thị', cài đặt này có thể được thay đổi từ <profileLink>trang hồ sơ</profileLink>
show-ranking = Hiển thị hạng của tôi

## Custom Goals

get-started-goals = Bắt đầu với mục tiêu
create-custom-goal = Tạo mục tiêu tùy chỉnh
goal-type = Loại mục tiêu nào bạn muốn xây dựng?
both-speak-and-listen = Cả hai
both-speak-and-listen-long = Cả hai (nói và nghe)
daily-goal = Mục tiêu hàng ngày
weekly-goal = Mục tiêu hàng tuần
easy-difficulty = Dễ
average-difficulty = Trung bình
difficult-difficulty = Khó
pro-difficulty = Chuyên nghiệp
lose-goal-progress-warning = Bằng cách chỉnh sửa mục tiêu của bạn, bạn có thể mất tiến trình hiện tại của bạn.
want-to-continue = Bạn có muốn tiếp tục?
finish-editing = Kết thúc chỉnh sửa trước?
lose-changes-warning = Rời đi sẽ làm mất những thay đổi của bạn
build-custom-goal = Xây dựng mục tiêu tùy chỉnh
help-reach-hours-pluralized =
    Giúp tiếp cận{ NUMBER($hours) ->
       *[other] { $hours } giờ
    } trong ngôn ngữ { $language } với mục tiêu cá nhân
help-reach-hours-general-pluralized =
    Giúp Common Voice đạt{ NUMBER($hours) ->
       *[other] { $hours } giờ
    } trong một ngôn ngữ với mục tiêu cá nhân
set-a-goal = Đặt một mục tiêu
cant-decide = Không thể quyết định?
activity-needed-calculation-plural =
    { NUMBER($totalHours) ->
       *[other] { $totalHours } giờ
    } có thể đạt được chỉ trong hơn { NUMBER($periodMonths) ->
       *[other] { $periodMonths } tháng
    } nếu { NUMBER($people) ->
       *[other] { $people } người
    } ghi { NUMBER($clipsPerDay) ->
       *[other] { $clipsPerDay } clip
    } một ngày.
how-many-per-day = Tuyệt quá! Có bao nhiêu clip mỗi ngày?
how-many-a-week = Tuyệt quá! Có bao nhiêu clip một tuần?
which-goal-type = Bạn có muốn nói, nghe hay cả hai?
receiving-emails-info =
    Bạn hiện đang được thiết lập để nhận email như lời nhắc mục tiêu, 
    cập nhật tiến độ của tôi và bản tin về Common Voice.
not-receiving-emails-info = Hiện tại bạn đang được đặt thành <bold>KHÔNG</bold> nhận email như lời nhắc mục tiêu, cập nhật của tôi tiến độ và bản tin về Common Voice
n-clips-pluralized =
    { NUMBER($count) ->
       *[other] { $count } clip
    }
help-share-goal = Hãy giúp chúng tôi tìm thêm tiếng nói, chia sẻ mục tiêu của bạn
confirm-goal = Xác nhận mục tiêu
goal-interval-weekly = Hàng tuần
# $type is one of share-goal-type-*
share-n-daily-contribution-goal = Chia sẻ { $count } clip mục tiêu hàng ngày của bạn cho { $type }
# $type is one of share-goal-type-*
share-n-weekly-contribution-goal = Chia sẻ { $count } clip mục tiêu hàng tuần của bạn cho { $type }
share-goal-type-speak = Nói
share-goal-type-listen = Nghe
share-goal-type-both = Nói và nghe
# LINK will be replaced with the current URL
goal-share-text = Tôi vừa tạo một mục tiêu cá nhân để quyên góp giọng nói cho #CommonVoice - tham gia với tôi và giúp đào tạo cho máy móc cách người thực nói chuyện { $link }
weekly-goal-created = Mục tiêu hàng tuần của bạn đã được tạo
daily-goal-created = Mục tiêu hàng ngày của bạn đã được tạo
track-progress = Theo dõi tiến độ ở đây và trên trang thống kê của bạn.
return-to-edit-goal = Quay trở lại đây để chỉnh sửa mục tiêu của bạn bất cứ lúc nào.
share-goal = Chia sẻ mục tiêu của tôi

## Profile Delete

delete-q = Bạn có muốn yêu cầu bản ghi âm giọng nói của bạn bị xóa quá hay bạn muốn giữ chúng trong bộ dữ liệu Common Voice?
keep = Giữ
remove = Xóa
keep-info = Bản ghi âm ẩn danh của bạn sẽ vẫn còn trong bộ dữ liệu Thoại thông thường. Khi bạn xóa tiểu sử của mình, bạn sẽ không còn có thể gửi yêu cầu xóa bản ghi của mình khỏi tập dữ liệu nữa
remove-info = Chúng tôi sẽ xem xét yêu cầu xóa bản ghi âm của bạn khỏi tập dữ liệu. Nếu yêu cầu của bạn được chấp thuận, chúng tôi sẽ liên hệ với những người đã tải xuống tập dữ liệu và yêu cầu họ xóa bản ghi âm của bạn.
why-delete-recordings =
    Common Voice được sử dụng bởi các học giả, doanh nghiệp nhỏ và những người đam mê nhận dạng giọng nói để giúp đào tạo và phát triển các tài nguyên công khai như mô hình giọng nói.
    
    Bạn có thể cho chúng tôi biết lý do tại sao bạn muốn xóa bản ghi của mình không?
profile-form-delete = Xóa hồ sơ

## Landing

welcome-staff = Chào mừng đến với nhân viên của { $company }!
help-contribute = Bạn có thể giúp xây dựng bộ dữ liệu nguồn mở đa dạng bằng cách tạo hồ sơ Common Voice và đóng góp giọng nói của bạn.
login-company = Đăng nhập / Đăng ký bằng email { $company }
profile-not-required = Có một hồ sơ là không cần thiết để đóng góp mặc dù nó rất hữu ích
read-more-about = Đọc thêm trên trang Giới thiệu của chúng tôi

## DemoLayout

demo-get-started = Bắt đầu nào
demo-welcome = Chào mừng đến với Common Voice
demo-welcome-subheader = Bạn muốn tìm hiểu thêm và đóng góp cho dự án?

## Demo Datasets

demo-language-select-card-header = Common Voice là tập dữ liệu giọng nói đa ngôn ngữ có sẵn công khai lớn nhất thế giới.
demo-language-select-card-body = Nhờ sự đóng góp của hơn 259 nghìn người bằng hơn 50 ngôn ngữ, dữ liệu này đang được sử dụng để đào tạo các ứng dụng hỗ trợ giọng nói để phản hồi tốt hơn với giọng nói của con người.
card-button-next = Tiếp
card-button-back = Quay lại
demo-language-select-label = Duyệt qua các ngôn ngữ
demo-eofy-header = Bản phát hành cuối năm 2019
demo-eofy-sub_header = Tập dữ liệu giọng nói, sẵn sàng để tải xuống
demo-account = Tài khoản

## Demo Account

demo-account-card-header = Không cần có một tài khoản để đóng góp, mặc dù nó rất hữu ích.
demo-account-card-body = Ở bên phải, chúng tôi phác thảo các lợi ích và làm rõ thông tin nào chúng tôi công khai. Sử dụng các liên kết bên dưới để bắt đầu với tài khoản Common Voice trên thiết bị của riêng bạn.
demo-account-enter-email =
    .label = Nhập email để gửi liên kết đăng ký
demo-account-sign-up = Gửi liên kết đăng ký

## Demo Contribute

demo-contribute-card-header = Sẵn sàng thêm giọng nói của bạn hoặc kiểm tra bản ghi âm?
demo-contribute-card-body-v2 = Bây giờ bạn đã biết thêm một chút về Common Voice, tại sao không thử? Nhấp vào biểu tượng micrô để bắt đầu đọc to các câu. <br/><br/>Nếu bạn muốn xem lại các đóng góp bằng giọng nói của người khác, hãy nhấp vào biểu tượng phát. Bạn sẽ giúp xác nhận rằng bản ghi khớp với các câu được viết trên màn hình.
demo-listen-subtitle = Sẵn sàng đóng góp?

## Demo Dashboard

demo-dashboard-card-header = Trang tổng quan cá nhân giúp bạn cập nhật những tiến bộ của cá nhân và cộng đồng.
demo-dashboard-card-body = Đối với mọi đoạn thoại được tặng và mọi đoạn âm thanh đã được xác thực, trang tổng quan tài khoản của bạn sẽ được cập nhật để phản ánh sự tiến bộ mới nhất của bạn ở mỗi ngôn ngữ mà bạn đóng góp. Có, bạn có thể đóng góp cho nhiều hơn một!<br/><br/>Sử dụng trang tổng quan để theo dõi số liệu thống kê của bạn, xem bạn đang hoạt động như thế nào cùng với những người khác trong cộng đồng và đặt mục tiêu đóng góp hàng ngày hoặc hàng tuần.

## Validation criteria

contribution-criteria-nav = Tiêu chuẩn
contribution-criteria-link = Hiểu các tiêu chuẩn đóng góp
contribution-criteria-page-title = Tiêu chuẩn đóng góp
contribution-criteria-page-description = Hiểu những điều cần tìm khi nghe đoạn thoại và giúp bản ghi âm giọng nói của bạn phong phú hơn!
contribution-for-example = ví dụ
contribution-misreadings-title = Đọc sai
contribution-misreadings-description = Khi nghe, hãy kiểm tra thật kỹ xem những gì đã ghi có chính xác là những gì đã được viết hay không; từ chối nếu có sai sót dù chỉ là nhỏ. Những sai lầm rất phổ biến <br /> bao gồm:
contribution-misreadings-description-extended-list-1 = Thiếu <strong>'A'</strong> hoặc <strong>'The'</strong> ở đầu bản ghi.
contribution-misreadings-description-extended-list-2 = Thiếu <strong>'s'</strong> ở cuối một từ.
contribution-misreadings-description-extended-list-3 = Đọc các từ mà nó không thực sự ở đó, chẳng hạn như "Chúng tôi" thay vì "Chúng tôi là" hoặc ngược lại.
contribution-misreadings-description-extended-list-4 = Bỏ lỡ phần cuối của từ cuối cùng do cắt đoạn ghi âm quá nhanh.
contribution-misreadings-description-extended-list-5 = Mất nhiều lần để đọc một từ.
contribution-misreadings-example-1-title = Những con khủng long khổng lồ của kỷ Trias.
contribution-misreadings-example-2-title = Con khủng long khổng lồ của kỷ Trias.
contribution-misreadings-example-2-explanation = [Nên là 'Những con khủng long']
contribution-misreadings-example-3-title = Những con khủng long khổng lồ của Triassi-.
contribution-misreadings-example-3-explanation = [Đoạn ghi âm bị cắt trước khi kết thúc từ cuối cùng]
contribution-misreadings-example-4-title = Những con khủng long khổng lồ của kỷ Trias. Đúng.
contribution-misreadings-example-4-explanation = [Có nhiều từ thừa đã được ghi lại so với văn bản được yêu cầu]
contribution-misreadings-example-5-title = Chúng tôi sẽ ra ngoài để uống cà phê.
contribution-misreadings-example-5-explanation = [Nội dung không khớp]
contribution-misreadings-example-6-title = Chúng ta sẽ ra ngoài uống cà phê.
contribution-misreadings-example-6-explanation = [Nên là "Chúng tôi"]
contribution-misreadings-example-7-title = Chúng tôi sẽ ra ngoài để uống một cà phê.
contribution-misreadings-example-7-explanation = [Không có ‘một’ trong văn bản gốc]
contribution-varying-pronunciations-title = Thay đổi cách phát âm
contribution-varying-pronunciations-description = Hãy thận trọng trước khi từ chối một clip cho rằng người đọc đã phát âm sai một từ, đặt trọng âm không đúng chỗ hoặc rõ ràng đã bỏ qua một dấu chấm hỏi. Có rất nhiều cách phát âm được sử dụng trên khắp thế giới, một số cách phát âm có thể bạn chưa nghe thấy trong cộng đồng địa phương của mình. Vui lòng đánh giá cao những người có thể nói khác với bạn.
contribution-varying-pronunciations-description-extended = Mặt khác, nếu bạn nghĩ rằng người đọc có thể chưa bao giờ gặp từ này trước đây và chỉ đơn giản là đoán sai cách phát âm, vui lòng từ chối. Nếu bạn không chắc chắn, hãy sử dụng nút bỏ qua.
contribution-varying-pronunciations-example-1-title = On his head he wore a beret.
contribution-varying-pronunciations-example-1-explanation = [‘Beret’ đều được cho dù với trọng âm ở âm tiết đầu tiên (Anh) hay thứ hai (Mỹ)]
contribution-varying-pronunciations-example-2-title = His hand was rais-ed.
contribution-varying-pronunciations-example-2-explanation = [‘Raised’ trong tiếng Anh luôn được phát âm là một âm tiết, không phải hai]
contribution-background-noise-title = Tiếng nền ồn
contribution-background-noise-description = Chúng tôi muốn các thuật toán máy học có thể xử lý nhiều loại tiếng ồn xung quanh và thậm chí những tiếng ồn tương đối lớn cũng có thể được chấp nhận với điều kiện chúng không ngăn bạn nghe thấy toàn bộ văn bản. Nhạc nền yên tĩnh là được; âm nhạc đủ lớn để ngăn bạn nghe thấy từng từ một.
contribution-background-noise-description-extended = Nếu đoạn ghi âm bị vỡ hoặc có tiếng rè, hãy từ chối trừ khi vẫn có thể nghe được toàn bộ nội dung.
contribution-background-noise-example-1-title = <strong>{ Sneeze }</strong> Những con khủng long khổng lồ của kỷ <strong>{ cough }</strong> Trias.
contribution-background-noise-example-2-title = Con khủng long khổng lồ <strong>{ cough }</strong> kỷ Trias.
contribution-background-noise-example-2-explanation = [Không thể nghe thấy một phần của văn bản]
contribution-background-noise-example-3-title = <strong>{ Crackle }</strong> khủng long khổng lồ của <strong>{ crackle }</strong> -rias.
contribution-background-noise-example-3-explanation = [Không thể nghe thấy một phần của văn bản]
contribution-background-voices-title = Giọng nền
contribution-background-voices-description = Tiếng huyên náo trong nền yên tĩnh là được, nhưng chúng tôi không muốn có thêm giọng nói có thể khiến thuật toán máy xác định các từ không có trong văn bản. Nếu bạn có thể nghe thấy những từ khác biệt với những từ trong văn bản, clip đó nên bị từ chối. Thông thường, điều này xảy ra khi TV đã được bật hoặc nơi có cuộc trò chuyện đang diễn ra gần đó.
contribution-background-voices-description-extended = Nếu đoạn ghi âm bị vỡ hoặc có tiếng rè, hãy từ chối trừ khi vẫn có thể nghe được toàn bộ nội dung.
contribution-background-voices-example-1-title = Những con khủng long khổng lồ của kỷ Trias. <strong>[đọc bằng một giọng nói]</strong>
contribution-background-voices-example-1-explanation = Bạn có đến không? <strong>[được gọi bởi người khác]</strong>
contribution-volume-title = Âm lượng
contribution-volume-description = Sẽ có sự thay đổi tự nhiên về khối lượng giữa các độc giả. Chỉ từ chối nếu âm lượng quá cao khiến bản ghi âm bị vỡ hoặc (phổ biến hơn) nếu âm lượng quá nhỏ khiến bạn không thể nghe được những gì đang được nói nếu không tham chiếu đến văn bản đã viết.
contribution-reader-effects-title = Hiệu ứng trình đọc
contribution-reader-effects-description = Hầu hết các bản ghi âm là của những người nói chuyện bằng giọng nói tự nhiên của họ. Bạn có thể chấp nhận bản ghi âm không chuẩn thỉnh thoảng được hét lên, thì thầm hoặc rõ ràng là được phân phối bằng giọng ‘kịch tính’. Vui lòng từ chối các bản ghi âm đã hát và những bản ghi âm sử dụng giọng nói do máy tính tổng hợp.
contribution-just-unsure-title = Không chắc chắn?
contribution-just-unsure-description = Nếu bạn gặp điều gì đó mà các nguyên tắc này không đề cập đến, vui lòng bỏ phiếu theo đánh giá tốt nhất của bạn. Nếu bạn thực sự không thể quyết định, hãy sử dụng nút bỏ qua và chuyển sang bản ghi tiếp theo.
see-more = <chevron></chevron>Xem thêm
see-less = <chevron></chevron>Xem ít hơn
